<div class="container ">

    <div class="jumbotron">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <h1 class="display-5 fw-bold">Bem vindo ao Blog node</h1>
            <p class="col-md-8 fs-4 text-center">Node.js permite usar JavaScript no servidor para criar aplicações
                rápidas e
                escaláveis.
                Com suporte a APIs, chat em tempo real e muito mais, é uma ferramenta indispensável para desenvolvedores
                modernos. Experimente e transforme seus projetos!</p>
            <a href="/usuarios/registro"><button class="btn btn-primary btn-lg" type="button">Crie uma
                    conta</button></a>
        </div>
    </div>

    <hr>

    <h2>Postagens Recentes</h2>
    {{#each postagens}}
    <div class="card mt-2">
        <div class="card-body mt-2">
            <h5 class="card-title">{{titulo}}</h5>
            <p class="card-text">{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small>Categoria: {{categoria.nome}}</small>
            <br>
            <small>Data Publicacao: {{data}}</small>
        </div>
    </div>
    {{else}}
    <p>Nenhuma postagem encontrada</p>
    {{/each}}
</div>